.cabecalho-bg {
  background: var(--cor-0);
}
.cabecalho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 130px;
}
.cabecalho .container-logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 27.50px 0px;
}
.cabecalho .container-logo .container-texto{
  padding-left: 10px;
}
.cabecalho .container-logo .container-texto h1{
  padding-bottom: 13px;
  white-space: nowrap;
}
.cabecalho .container-logo img{
  max-width: 75px;
}
.cabecalho ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.cabecalho ul li{
  padding: 20px 10px;
}
@media (max-width: 900px) {
  .cabecalho .container-logo{
    display: none;
  }
  .cabecalho .container-logo .container-texto h1{
    font: 700 1.7rem/0.83 "Poppins", sans-serif;
  }
  .cabecalho .container-logo .container-texto p{
    font: 500 0.6rem/0.83 "Poppins", sans-serif;
    white-space: nowrap;
  }
  .cabecalho ul {
    margin: 0 auto;
    color: var(--cor-0);
  }
  .cabecalho ul li{
    padding: 20px;
  }
}