.introducao-bg {
background: var(--cor-p1);
}
.introducao {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
padding-top: 74px;
padding-bottom: 74px;
gap: 160px;
}
.introducao p {
  line-height: 1.625;
}
.introducao h1 {
padding-bottom: 36px;
padding-top: 48px;
}
.introducao img {
max-width: 504px;
}
/* Call action */
.btn-tabela-bg {
background: var(--cor-s1);
}
.btn-tabela {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
gap: 80px;
padding: 60px 20px 60px 20px;
}
.btn-tabela h2{
padding-bottom: 20px;
}
.btn {
background: var(--cor-p1);
border-radius: 5px;
height: 50px;
width: 200px;
display: inline-block;
transition: 0.3s;
text-align: center;
cursor: pointer;
}
.btn a{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
text-transform: uppercase;
width: 200px;
height: 50px;
}
.btn img{
padding-right: 12px;
}
@media (max-width: 1200px) {
.introducao {
gap: 50px;
}
}
@media (max-width: 1000px) {
.introducao {
gap: 0px;
}
.introducao img {
display: none;
}
}
@media (max-width: 600px) {
.btn-tabela{
display: block;
text-align: center;
}
.btn-tabela h2 {
padding-top: 20px;
line-height: 1.2;
} 
.btn-tabela p {
line-height: 1.3;
font-size: 1.1rem;
} 
.btn-tabela ul {
padding-top: 20px;
padding-bottom: 20px;
} 
}