.planos-bg {
background: #F1F3F7;
}
.texto-planos h2 {
text-align: center;
padding: 63px 20px 74px 20px;
}
.planos{
overflow-x: auto;
-webkit-overflow-scrolling: touch; 
-ms-overflow-style: -ms-autohiding-scrollbar;
padding: 30px 30px 50px 30px;
}
.planos table {
width: 1200px;
border-collapse: collapse;
border: 2px solid var(--cor-4);
border-radius: 10px;
box-shadow: 0 0 30px 10px rgb(47, 134, 214, 20%);
}
.planos table thead tr th {
padding-top: 25px;
padding-bottom: 50px;
text-transform: uppercase;
}
.planos table tbody tr td {
width: 300px;
height: 69px;
text-align: center;
} 
.planos tbody img {
width: 100px;
height: 100px;
}
.planos table tbody .td:nth-child(odd) {
background: var(--cor-3);
}
.planos table tr td + td {
border-left: 2px solid var(--cor-4);
}
.planos table tr th + th {
border-left: 2px solid var(--cor-4);
}
/* Call Action */
.btn-tabela-bg-1 {
background: var(--cor-p1);
}
.btn-1 {
background: var(--cor-s1);
border-radius: 5px;
height: 50px;
width: 200px;
display: inline-block;
transition: 0.3s;
text-align: center;
cursor: pointer;
}
.btn-1 a{
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
text-transform: uppercase;
width: 200px;
height: 50px;
}
.btn-1 img{
padding-right: 12px;
}